body {background-color:tan;}
h1 {color:grey;
	font-family:verdana;}
div.maindiv {
	background-color: white; 
	border-radius: 25px;
	font-family: arial;
	color: black; 
	width: 300px;
	padding: 20px;
	margin: auto;
}

div.row {
	padding: 0 9px 10px 10px;
	
}

label {
	width: 30%;
	display: inline-block;
	text-align: left;
}

input[list]{
    display: inline-block;
    width: 60%;
}